In [1]:
#리스트 생성 - 다양한 타입을 담을 수 있음

list1 = []
list2 = ['a','b','c']
list3 = ['a','b','c',1,2]
list4 = [1,2,3,4,5.5,6.5]
list5 = [1,2,['Life','is','short']]

In [2]:
# 리스트 사용

print(list1)
print(list2)
print(list3)
print(list4)
print(list5)

[]
['a', 'b', 'c']
['a', 'b', 'c', 1, 2]
[1, 2, 3, 4, 5.5, 6.5]
[1, 2, ['Life', 'is', 'short']]

In [3]:
# 인덱싱

print("list2[2]=",list2[2])
print("list3[4]=",list3[4])
print("list5[2]=",list5[2])
print("list4[-1]= ",list4[-1])

list2[2]= c
list3[4]= 2
list5[2]= ['Life', 'is', 'short']
list4[-1]=  6.5

In [4]:
print("list5[2][0] = ",list5[2][0])

list5[2][0] =  Life

In [5]:
print("list5[-1][2] = ",list5[-1][2])

list5[-1][2] =  short

In [10]:
list6=[1,2,['a','b',['life','is']]]

# is 출력하기

print("list6[-1][-1][1]=",list6[-1][-1][1])

list6[-1][-1][1]= is

In [6]:
# 연산자 : +(연결),*(반복)

a = [1,2,3]
b = [4,5,6]
c = ['a','b','c']

print(a+b)
print(a+c)
print(a[0]+b[1])

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 'a', 'b', 'c']
6

In [7]:
print(a*3)
print(a[0]*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
3

In [8]:
print(a)
a[1] = 7
print(a)
a[2] = 'life'
print(a)

[1, 2, 3]
[1, 7, 3]
[1, 7, 'life']

In [9]:
str1 ="abcd"
str1[0] = 'e'

TypeError: 'str' object does not support item assignment

In [10]:
print(b)
b[1:2] = [10,11]
print(b)

[4, 5, 6]
[4, 10, 11, 6]

In [11]:
print(b)
b[1] = [15,16,17]
print(b)

[4, 10, 11, 6]
[4, [15, 16, 17], 11, 6]

In [12]:
print(a)
del a[1]
print(a)

[1, 7, 'life']
[1, 'life']

In [13]:
print(b)
b[1:3] = []
print(b)

[4, [15, 16, 17], 11, 6]
[4, 6]

In [15]:
numbers = [273,103,5,32,65,9,72,800,99]
for num in numbers:
    print(num)

273
103
5
32
65
9
72
800
99

In [16]:
# numbers 안의 숫자가 홀수인지 짝수인지 판별해서 출력하기
for num in numbers:
    if num % 2 == 0 : 
        print("%d 는 짝수" % num)
    else:
        print("%d 는 홀수" % num)

273 는 홀수
103 는 홀수
5 는 홀수
32 는 짝수
65 는 홀수
9 는 홀수
72 는 짝수
800 는 짝수
99 는 홀수

In [17]:
#선생님 방법
for num in numbers:
    if num % 2 ==0:
        print("{} 는 짝수".format(num))
    else:
        print("{} 는 홀수".format(num))

273 는 홀수
103 는 홀수
5 는 홀수
32 는 짝수
65 는 홀수
9 는 홀수
72 는 짝수
800 는 짝수
99 는 홀수

In [15]:
# numbers 안의 각 숫자들의 자릿수 출력하기
for num in numbers:
    print("%d는 %d 자리수" % (num,len(str(num))))

273는 3 자리수
103는 3 자리수
5는 1 자리수
32는 2 자리수
65는 2 자리수
9는 1 자리수
72는 2 자리수
800는 3 자리수
99는 2 자리수

In [21]:
list_of_list = [[1,2,3],[4,5,6,7],[8,9]]

# 1 2 3 4 5 6 7 8 9
for list in list_of_list:
    for num in list:
        print(num,end=" ")

1 2 3 4 5 6 7 8 9

### 리스트 관련 함수

In [23]:
# append() : 리스트에 요소 추가 

list1 = [1,2,3]
list1.append(4)
print(list1)

[1, 2, 3, 4]

In [24]:
list1.append([5,6])
print(list1)

[1, 2, 3, 4, [5, 6]]

In [25]:
# list.append(5,6,7) TypeError

In [26]:
even = []

# 1~100까지 짝수만 even 에 추가한후 출력하기
for i in range(1,101):
    if i % 2 ==0:
        even.append(i)
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [27]:
# sort() : 오름차수정렬이라고 보면됨 

list1 = [25,75,15,9,6,3,36]
print(list1)
list1.sort()
print(list1)

[25, 75, 15, 9, 6, 3, 36]
[3, 6, 9, 15, 25, 36, 75]

In [28]:
list2 = ['k','z','b','a','q','r']

print(list2)
list2.sort()
print(list2)

['k', 'z', 'b', 'a', 'q', 'r']
['a', 'b', 'k', 'q', 'r', 'z']

In [30]:
list3 = ['K','A','b','C','q','r']

print(list3)
list3.sort()
print(list3)

['K', 'A', 'b', 'C', 'q', 'r']
['A', 'C', 'K', 'b', 'q', 'r']

In [18]:
list4 = ['ㄷ','ㄱ','ㅎ','ㅋ','ㄴ']
print(list4)
list4.sort()
print(list4)

['ㄷ', 'ㄱ', 'ㅎ', 'ㅋ', 'ㄴ']
['ㄱ', 'ㄴ', 'ㄷ', 'ㅋ', 'ㅎ']

In [19]:
list5 = ["abc","tail","bcd","animal","korea"]
print(list5)
list5.sort()
print(list5)

['abc', 'tail', 'bcd', 'animal', 'korea']
['abc', 'animal', 'bcd', 'korea', 'tail']

In [20]:
list3 = ['K','A','b','C','q','r']

print(list3)
list3.sort(reverse=True)
print(list3)

['K', 'A', 'b', 'C', 'q', 'r']
['r', 'q', 'b', 'K', 'C', 'A']

In [22]:
#reverse() : 리스트 뒤집기

list1 = [25,75,15,9,6,3,36]
print(list1)
list1.sort()
list1.reverse()
print(list1)

[25, 75, 15, 9, 6, 3, 36]
[75, 36, 25, 15, 9, 6, 3]

In [23]:
#index() : 위치 반환

list1.index(3)

6

In [24]:
list1.index(77) #없는것은 에러임

ValueError: 77 is not in list

In [25]:
# insert() : 특정 위치에 요소 삽입
list2 =[12,13,14,15,14]
list2.insert(1,56)
print(list2)

[12, 56, 13, 14, 15, 14]

In [27]:
# remove():리스트 요소 제거

list5 = [12,13,14,15,14]
list5.remove(13)
print(list5)
list5.remove(14)
print(list5)

[12, 14, 15, 14]
[12, 15, 14]

In [28]:
# pop() : 리스트 요소 중 맨 마지막 요소 꺼내기

list5 = [12,13,14,15,16]
print(list5)
list5.pop()
print(list5)

[12, 13, 14, 15, 16]
[12, 13, 14, 15]

In [29]:
list5.pop(1)
print(list5)

[12, 14, 15]

In [30]:
# count() : 리스트 요소 세기

list5 = [1,2,3,4,5,6]
print(list5.count(3))

1

In [31]:
# extend : 리스트 확장(+ 와 같은 결과)

list5.extend([16,17,18])
print(list5)

[1, 2, 3, 4, 5, 6, 16, 17, 18]

In [33]:
# clear() : 리스트 요소 모두 삭제
list5.clear()
print(list5)

[]

In [34]:
city = ""
if city:
    print("True")
else:
    print("False")

False

In [35]:
list1 = []
if list1:
    print("True")
else:
    print("False")

False

In [36]:
fruit = ["사과","딸기","배","수박"]
if "딸기" in fruit:
    print("딸기 포함")
else:
    print("딸기 미 포함")

딸기 포함

In [37]:
# enumerate : 인덱스 값 같이 가져옴

arr = [23,12,36,53,19]

for i in enumerate(arr):
    print(i)

(0, 23)
(1, 12)
(2, 36)
(3, 53)
(4, 19)

In [38]:
for idx, val in enumerate(arr):
    print("%d : %d" % (idx,val))

0 : 23
1 : 12
2 : 36
3 : 53
4 : 19

In [39]:
for idx, val in enumerate(arr,start=1):
    print("%d : %d" % (idx,val))

1 : 23
2 : 12
3 : 36
4 : 53
5 : 19

In [46]:
# a학금에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다

# 70, 60, 55, 75, 95, 90, 80, 85, 100

# a학급의 점수를 리스트로 생성하고 총 합과 평균을 구하시오.

aClass = [70, 60, 55, 75, 95, 90, 80, 85, 100, 66]

total=0

for grade in aClass:
    total += grade

print("총 합계는: %d" %total)
print("평균값은 : {}".format(total/len(aClass)))

총 합계는: 776
평균값은 : 77.6

In [47]:
#선생님 방식
# sum() : 합계
print("a 학급의 총합 {} 과 평균 :{}".format(sum(aClass),(sum(aClass)/len(aClass))))

a 학급의 총합 776 과 평균 :77.6

In [48]:
ord('a') # 문자의 아스키 코드 값 돌려주는 함수

97

In [49]:
ord('A')

65

In [50]:
chr(97) #숫자에 해당하는 문자 돌려주는 함수

'a'

In [ ]:
# 주차장
# 1.다음과 같은 메뉴를 제공한다.
# [1] 자동차 넣기 | [2] 자동차 빼기 | [3] 종료 :
# 2. 사용자는 메뉴에서 1~3번 사이의 메뉴만 선택할 수 있도록 한다.
# 3. 1번을 선택한 경우 다음과 같은 출력이 나오도록 한다.
# A 자동차 들어감. 주차장 상태 ===>['A']

while (True):
    num = input("[1] 자동차 넣기 | [2] 자동차 빼기 | [3] 종료 :")
    if num == 1 :
        print("자동차 들어감")

In [53]:
#선생님 주차장 코드

parking_lot = []
top, car_name = 0,"A"

while True:
    #메뉴 입력받기
    menu = int(input("[1] 자동차 넣기 | [2] 자동차 빼기 | [3] 종료 :"))
    
    if menu <= 3:
        if menu == 1:
            if top >=5:
                print("주차장 꽉 찼음")
            else:
                parking_lot.append(car_name)
                print("{} 자동차 들어감.주차장 상태 ==> {}".format(car_name,parking_lot))
            top +=1 # 자동차가 들어갈 위치
            car_name = chr(ord(car_name)+1) # 다음 자동차 명
        elif menu == 2:
            if top > 0:
                outCar = parking_lot.pop()
                print("%c 자동차 나감.주차장 상태 ==> %s" % (outCar,parking_lot))
                
                top -=1
                car_name = chr(ord(car_name)-1) # 다음 자동차 명
            else:
                print("빠져나갈 자동차가 없음")
        else:# 3번을 누른경우
            print("프로그램 종료")
            break
    else:
        print("번호를 확인해 주세요")

[1] 자동차 넣기 | [2] 자동차 빼기 | [3] 종료 :2
빠져나갈 자동차가 없음
[1] 자동차 넣기 | [2] 자동차 빼기 | [3] 종료 :3
프로그램 종료

In [55]:
# 1. 아래 문자열의 길이를 구하기

q1 = "dk2jd923i1jdk2jd2536jd918943jfd8923"

print(len(q1))

35

In [56]:
# 2. 화면에 * 기호 100개 표시하기
print("*"*100)

****************************************************************************************************

In [63]:
# 3. 문자열 '30' 을 각각 정수형, 실수형으로 변환하기

num = "30"

print(int(num))
print(float(num))

30
30.0

In [64]:
# 4. 다음 문자열 거꾸로 출력하기 : "Strawberry"

str = "Strawberry"

print(str[::-1])

yrrebwartS

In [65]:
# 5. 다음 문자열에서 '-'를 제거한 후 출력하기
tel = "010-7777-9989"

print(tel[:3]+tel[4:8]+tel[9:13])

01077779989

In [66]:
# 6. 다음 문자열에서 "http://" 부분 제거한 후 출력하기
url = "http://www.daum.net"

print(url.replace("http://",""))

www.daum.net

In [61]:
# 7. 다음 리스트에서 "Apple" 항목만 삭제한 후 출력하기
list1 = ["Banana","Apple","Orange"]

list1.remove("Apple")
print(list1)

['Banana', 'Orange']

In [69]:
# 8. 다음 리스트 항목 중에서 5글자 이상의 단어만 출력하기
list2 = ["nice","study","python","anaconde","!"]

for d in list2:
    if len(d)>=5 :
        print(d,end=",")

study,python,anaconde,

In [71]:
# 9. 다음 리스트 항목 중에서 소문자만 출력하기
list3 = ["A","b","c","D","e","F","G","h"]
for ch in list3:
    if ch.islower():
        print(ch,end=",")

b,c,e,h,

In [72]:
# 10. 다음 리스트 항목 중에서 소문자는 대문자로 대문자는 소문자로 출력하기
list3 = ["A","b","c","D","e","F","G","h"]

for ch in list3:
    if ch.islower():
        print(ch.upper(),end=" ")
    else:
        print(ch.lower(),end=" ")

a B C d E f g H

In [73]:
for ch in list3:
    print(ch.swapcase(),end=" ")

a B C d E f g H

## 리스트 내포 표기

In [74]:
print([x*2 for x in [1,2,3,4]])

[2, 4, 6, 8]

In [76]:
print([x*x for x in range(5)])

[0, 1, 4, 9, 16]

In [77]:
# [1,2,3] =>[[1,2,3],
#              [2,3,4],
#                [3,4,5]]

print([[x,x+1,x+2] for x in [1,2,3]])

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]

In [79]:
#[[0,0,0],[0,0,0],[0,0,0],[0,0,0]]

print([[0 for x in range(3)] for y in range(4)])

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [94]:
# [[0,1,2],[3,4,5],[6,7,8],[9,10,11]]

list1 = []
list2 = []

for x in range(4):
    for y in [0,1,2]:
        list1.append(y+x*3)
    list2.append(list1)
    list1 = []
print(list2)

[[0, 1, 2], [3, 4, 5], [6, 7, 8], [9, 10, 11]]

In [96]:
print([[y+x*3 for y in [0,1,2]] for x in range(4)])

[[0, 1, 2], [3, 4, 5], [6, 7, 8], [9, 10, 11]]