In [2]:
str1 = "Life is too short, You need Python"
str2 = "Life is too short, You need Python"
str3 = """Life is too short, You need Python"""
str4 = '''Life is too short, You need Python'''
str5 = "123"

num1=10
num2 = 10.1

In [3]:
print(str1)
print(str2)
print(str3)
print(str4)
print(str5)

Life is too short, You need Python
Life is too short, You need Python
Life is too short, You need Python
Life is too short, You need Python
123

In [4]:
print(num1+num2)

20.1

In [5]:
a = b = 3
print(a)
print(b)

3
3

In [7]:
a, b = 10,15
print(a)
print(b)

10
15

In [8]:
a,b = b,a
print("a=",a)
print("b=",b)

a= 15
b= 10

In [9]:
str1 = 500
num1 = "Hello"
print(str1," ",num1)

500   Hello

In [10]:
# 정수형

a = 123
b = -173

In [12]:
# 실수형

a = 1.2
b = -3.45
c = 4.24E10
d = 4.24e-10
print(a)
print(b)
print(c)
print(d)

1.2
-3.45
42400000000.0
4.24e-10

In [15]:
# 8진수(0o) , 16진수(0x)

print(0o177) # 177 = 1*8의 2승 + 7*8의 1승 +7*8의 0승
print(0x1511) # 1511 = 1* 16 의 3승 + 5* 16의 2승 + 1 * 16의 1승 + 1 * 16의 0승

127
5393

In [16]:
# 연산자
a,b = 3,4

print("a+b=",a+b)
print("a-b=",a-b)
print("a*b=",a*b)
print("a/b=",a/b) # 소수점 결과까지 포함
print("a//b=",a//b) # 소수점 결과는 버림
print("a%b=",a%b) 
print("a**b=",a**b) # 제곱

a+b= 7
a-b= -1
a*b= 12
a/b= 0.75
a//b= 0
a%b= 3
a**b= 81

In [17]:
b = True
print(b)
print(type(b))

True
<class 'bool'>

### 변수 형 변환
- str() : 문자 타입으로 변환
- int() : 정수 타입으로 변환
- float() : 실수 타입으로 변환
- bool() : boolean 타입으로 변환

In [18]:
print(type(3))
print(type(str(3)))

<class 'int'>
<class 'str'>

In [19]:
print(type(str(3.5)))
print(str(1.0e4))

<class 'str'>
10000.0

In [20]:
print(int(True))
print(int(False))

1
0

In [23]:
print(int(98.6))
print(int('99'))
# print(int('98.6')) error 발생

98
99

In [27]:
print(float(True))
print(float(False))
print(float(98))
print(float('99.6'))
print(float('1.0e4'))

1.0
0.0
98.0
99.6
10000.0

In [26]:
print(type(bool(99)),bool(99))
print(type(bool(0.1)),bool(0.1))

<class 'bool'> True
<class 'bool'> True

In [29]:
# print("100"+1) # 에러
print(int("100")+1)

101

In [30]:
print("100"+str(1))

1001

In [31]:
# 대입연산자

a = 10
a += 5
print(a)

a-=5
print(a)

a *=5
print(a)

a /= 5 
print(a)

a //=5
print(a)

a %= 5
print(a)

a **= 5
print(a)

15
10
50
10.0
2.0
2.0
32.0

In [ ]:
# 777,777 원 교환하기 : 5만원, 1만원, 5천원, 1천원

In [46]:
money= 777777

a=money // 50000
b=money % 50000
print(a,b)
c= b//10000
d = b%10000
print(c,d)
e = d//5000
f = d%5000
print(e,f)
g = f//1000
h = f % 1000
print(g,h)

w50000=money // 50000
w10000=money // 10000
w5000=money // 5000
w1000 = money //1000
print("각각받으면 오만원은"+str(w50000)+"장 만원권은"+str(w10000)+"장 오천원권은"+str(w5000)+"장 천원권은"+str(w1000)+"장을 받습니다")

print(str(money)+ "원을 각각 5만원 1만원 5천원 1천원으로 교환하면 5만원짜리"+str(a)+"장 만원짜리"+str(c)+"장 오천원짜리"+str(e)+"장 천원짜리"+str(g)+"장으로 받고 나머지는 "+str(h)+"원으로 남습니다")

15 27777
2 7777
1 2777
2 777
각각받으면 오만원은15장 만원권은77장 오천원권은155장 천원권은777장을 받습니다
777777원을 각각 5만원 1만원 5천원 1천원으로 교환하면 5만원짜리15장 만원짜리2장 오천원짜리1장 천원짜리2장으로 받고 나머지는 777원으로 남습니다