In [1]:
import pandas as pd

In [2]:
# series 생성

series_data = pd.Series([70,60,90]) # 리스트
series_data

0    70
1    60
2    90
dtype: int64

In [3]:
series_data = pd.Series({"a":70,"b":60,"c":90}) # 딕셔너리
series_data

a    70
b    60
c    90
dtype: int64

In [4]:
# read

series_data.index

Index(['a', 'b', 'c'], dtype='object')

In [5]:
series_data.values

array([70, 60, 90], dtype=int64)

In [6]:
series_data[0]

70

In [7]:
series_data.shape # 몇행 몇열이냐

(3,)

In [8]:
# head() n=5 기본
series_data.head()

a    70
b    60
c    90
dtype: int64

In [9]:
# tail() => 5 default
series_data.tail()

a    70
b    60
c    90
dtype: int64

In [10]:
series_data.tail(2)

b    60
c    90
dtype: int64

In [11]:
# update

series_data.index=["미술","음악","체육"]
series_data

미술    70
음악    60
체육    90
dtype: int64

In [12]:
series_data['미술']=75 
series_data

미술    75
음악    60
체육    90
dtype: int64

In [14]:
# delete

del series_data["미술"]
series_data

음악    60
체육    90
dtype: int64

In [15]:
# 데이터 타입 변경 : astype(변경할타입)

series_data = pd.Series([1,1,1])
series_data

0    1
1    1
2    1
dtype: int64

In [16]:
series_data.astype("float")

0    1.0
1    1.0
2    1.0
dtype: float64

In [17]:
series_data

0    1
1    1
2    1
dtype: int64

In [18]:
series_data = series_data.astype("float")
series_data

0    1.0
1    1.0
2    1.0
dtype: float64

In [20]:
series_data.astype("object")

0    1
1    1
2    1
dtype: object

In [21]:
series_data.astype("int")

0    1
1    1
2    1
dtype: int32

In [22]:
series_data.astype("bool")

0    True
1    True
2    True
dtype: bool

In [23]:
series_data = pd.Series(["1.1","2.2","3.3"])
series_data

0    1.1
1    2.2
2    3.3
dtype: object

In [24]:
series_data.astype("float")

0    1.1
1    2.2
2    3.3
dtype: float64

In [25]:
series_data = pd.Series(["test","2.2","3.3"])
series_data

0    test
1     2.2
2     3.3
dtype: object

In [26]:
series_data.astype("float")

ValueError: could not convert string to float: 'test'