## set - 중복을 허용하지 않음/순서가 없음

In [2]:
set1 = set()

In [3]:
set2 = set([1,2,3,4,5]) # 리스트 구조
set2

{1, 2, 3, 4, 5}

In [4]:
set3 = set((1,2,3,4,5)) # 튜플 => 집합
set3

{1, 2, 3, 4, 5}

In [5]:
# dict = > 집합

set4 = set({"no":"1","name":"hong","age":24})
set4

{'age', 'name', 'no'}

In [6]:
set5 = set("abcdefg")
set5

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

In [7]:
# 중복을 넣었을때 : 알아서 처리해줌 

set6 = set([1,2,3,4,5,6,6])
set6

{1, 2, 3, 4, 5, 6}

In [8]:
t1 = tuple(set6)
print(t1)

(1, 2, 3, 4, 5, 6)

In [10]:
list1 = list(set6)
print(list1)

[1, 2, 3, 4, 5, 6]

In [11]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [12]:
# 교집합

print(s1.intersection(s2))
print(s1 & s2)

{4, 5, 6}
{4, 5, 6}

In [13]:
# 합집합

print(s1.union(s2))
print(s1 | s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
# 차집합

print(s1.difference(s2))
print(s1-s2)

{1, 2, 3}
{1, 2, 3}

In [15]:
# 대칭 차집합 :한쪽 셋에만 들어 있는 경우

print(s1.symmetric_difference(s2))
print(s1 ^ s2)

{1, 2, 3, 7, 8, 9}
{1, 2, 3, 7, 8, 9}

In [18]:
# 추가

s1 = set([7,8,10,14])
s1.add(18)
s1

{7, 8, 10, 14, 18}

In [19]:
s1.add(7)
s1

{7, 8, 10, 14, 18}

In [20]:
s1.update([4,5,6])
s1

{4, 5, 6, 7, 8, 10, 14, 18}

In [21]:
# 삭제

s1.remove(5)
s1

{4, 6, 7, 8, 10, 14, 18}