## while

In [2]:
i = 1 
while i <11 :
    print(i,end=" ")
    i = i+1 # i++ 사용 못함

1 2 3 4 5 6 7 8 9 10

In [5]:
# 1~100 짝수
i = 2
while i < 101 :
    print(i,end=" ")
    i += 2

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [6]:
i = 0
while i <101:
    if i % 2 == 1:
        print(i,end=" ")
    i +=1

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [35]:
# 1~100 까지 합계를 구한 후 출력하기
i=0
total = 0
while i<101:
    total+=i
    
    i +=1

print(total)

5050

In [16]:
# 구구단 출력

dan = 7
i= 1
while i <= 9 :
    result = dan * i
    
    
    print("%d * %d = %d"% (dan,i,result))
    i+=1

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [19]:
# 사용자로부터 q가 입력되기 전까지 입력받는 프로그램 작성
print("입력을 중단하고 싶으면 q를 입력하세요")

data = ""

while data != "q" :
    data = input("데이터를 입력해주세요 :")
    print(data)

입력을 중단하고 싶으면 q를 입력하세요
데이터를 입력해주세요 :m
m
데이터를 입력해주세요 :q
q

# for

In [20]:
print(range(5))

range(0, 5)

In [21]:
# range() : 범위지정

print(range(5))
print(list(range(5)))
print(list(range(1,5)))
print(list(range(0,10,2)))

range(0, 5)
[0, 1, 2, 3, 4]
[1, 2, 3, 4]
[0, 2, 4, 6, 8]

In [22]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [23]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [24]:
for i in range(2,11,2):
    print(i,end=" ")

2 4 6 8 10

In [36]:
# 1~100까지 합계를 구한 후 출력하기
total= 0
for i in range(101):
    total += i
    
print(total)

5050

In [37]:
# 1~ 사용자가 지정한 숫자까지 합계를 구한 후 출력하기

num1 = int(input("숫자를 입력하세요 : "))
total = 0

for i in range(1,num1+1):
    total +=i

print(total)

숫자를 입력하세요 : 15
120

In [34]:
for i in range(4,-1,-1):
    print(i,end= " ")

4 3 2 1 0

In [40]:
word = "dreams"
for s in word:
    print("word : ",s)

word :  d
word :  r
word :  e
word :  a
word :  m
word :  s

In [41]:
for i in range(3):
    for  j in  range(3):
        print(j,end=" ")
    print()

0 1 2
0 1 2
0 1 2

In [42]:
for i in range(3):
    for  j in  range(3):
        print("*",end=" ")
    print()

* * *
* * *
* * *

In [44]:
for i in range(5):
    for  j in  range(5):
        print(i+j,end=" ")
    print()

0 1 2 3 4
1 2 3 4 5
2 3 4 5 6
3 4 5 6 7
4 5 6 7 8

In [49]:
# 구구단 2~9 단 출력

for i in range(2,10):
    for j in range(1,10):
        print("%d * %d = %d" %(i,j,i*j),end="\t")
    print()

2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45
6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63
8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72
9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81

## break / continue

In [2]:
numbers = [14,3,4,7,10,24,17,2,33,15,34,36,38]
for num in numbers:
    if num == 33:
        print("%d 번째에서 찾음" % (numbers.index(33)+1))
        break
    print("done")

done
done
done
done
done
done
done
done
9 번째에서 찾음

In [3]:
i = 1
while i <= 10:
    if i==5:
        break
    print(i,end=" ")
    i+=1

1 2 3 4

In [4]:
numbers = [14,3,4,7,10,24,17,2,33,15,34,36,38]
for num in numbers:
    if num != 33:
        continue
    print("%d 번째에서 찾음" % (numbers.index(33)+1))
    print("done")

9 번째에서 찾음
done

In [14]:

for i in range(5):
    for j in range(i+1):
        print("*",end="")
    print()

*
**
***
****
*****

In [15]:
for i in range(5):
    for j in range(5):
        if j<=i:
            print("*",end="")
    print()

*
**
***
****
*****

In [17]:
for i in range(5,0,-1):
    for j in range(5):
        if j<i:
            print("*", end="")
    print()

*****
****
***
**
*

In [19]:
for i in range(0,5,1):
    for j in range(5):
        if j >=i:
            print("*", end="")
        else:
            print(" ", end="")
    print()

*****
 ****
  ***
   **
    *

In [23]:
for i in range(1,6):
    for j in range(5,0,-1):
        if j >i:
            print(" ", end="")
        else:
            print("*", end="")
    print()

    *
   **
  ***
 ****
*****